{include file="./static/header.html"/}
<body>
<div class="layui-container">
    <div class="layui-row">
        {if $Think.session.auth<3}
        <div class="layui-col-xs4 layui-col-sm3 layui-col-md2 layui-col-lg2">
            <div class="layui-inline">
                <div class="layui-input-inline">
                    <select id="sel_client_id"   class="layui-select">
                        <option value="">请选择客户</option>
                        {foreach $cli as $k=>$v}
                        <option value="{$v.User_Id}">{$v.Name}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
        </div>

        <div class="layui-col-xs4 layui-col-sm3 layui-col-md2 layui-col-lg2">
            <div class="layui-inline">
                <div class="layui-input-inline">
                    <button class="layui-btn layui-btn-sm laymy-w1" id="search">搜索</button>
                </div>
            </div>
        </div>
        {/if}
    </div>
</div>
<table id="formfields_table" lay-filter="lay_formfields" class="layui-table"></table>
<script>
    var table = layui.table,layer = layui.layer,$=layui.$,laydate = layui.laydate,laypage=layui.laypage
    var form_table = table.render({
        elem:'#formfields_table',
        height:"full-70",
        totalRow: true,
        toolbar: '#head_toolbar', //开启头部工具栏，并为其绑定左侧模板
        defaultToolbar:['exports','print'],
        url:'/get_client_sum',
        method:'get',
        cols:[[
            {field:'Client_Id',title:'ID',hide:true},
            {if $Think.session.auth<3}	{field:'Name',title:'客户',totalRowText: '合计',sort:true},{/if}
            {field:'Money',title:'总充值金额',sort:true,totalRow: true,},
            {field:'Cli_Money_Con',title:'总消费金额',sort:true,totalRow: true,},
            {field:'Sum',title:'总余额',sort:true,totalRow: true,},
        ]],
        done:function(res, curr, count){

        }
    });

    //将上述表格示例导出为 csv 文件


    //搜索
    $("#search").click(function(){
        var sel_client_id = $("#sel_client_id").val()||"";
        form_table.reload({	//重载表格
            where:{
                sel_client_id:sel_client_id,
            }
        });
    });

</script>
</body>